@model Binary_Academy_5_ASP_NET.Models.User

@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div>
    <p>@Model.name</p>
    <p>@Model.avatar</p>
    <p>@Model.address</p>
    <p>@Model.createdAt</p>
    <br />
    
    <p><b>TODOS</b></p>
    @if (@Model.todos.Count == 0)
    {
        <p>No todos</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Is complite</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var todo in @Model.todos)
                {
                    <tr>
                        <td>@todo.name</td>
                        <td>@todo.createdAt</td>
                        <td>@todo.isComplete</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <p><b>POSTS</b></p>
    @if (@Model.posts.Count == 0)
    {
        <p>No posts</p>
    }
    else
    {
        @foreach (var post in @Model.posts)
        {
            <p>@post.title</p>
            <p>@post.body</p>
            <p>@post.createdAt</p>
            <p>@post.likes</p>
            @if (post.comments.Count == 0)
            {
                <p>No comments</p>
            }
            else
            {
                @foreach (var comment in @post.comments)
                {
                    <p>CommentBody     @comment.body</p>
                    <p>CommentCreatedAt     @comment.createdAt</p>
                    <p>CommentLikes     @comment.likes</p>
                }
            }

            <br />
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
