@model Binary_Academy_5_ASP_NET.Models.User

@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row user_name_date">
        <div class="col-md-4">
            <p><img class="avatar_main" src=@Model.avatar alt="Card image cap"></p>
        </div>
        <div class="col-md-4">
            <p>@Model.name</p>
        </div>
        <div class="col-md-4">
            <p>@Model.createdAt</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><b>TODOS</b></p>

            @foreach (var todo in Model.todos)
            {
                <p>@Html.ActionLink(@todo.name, "GetTodo", "Todos", new { id = @todo.id })</p>
            }
        </div>
        <div class="col-md-6">
            <p><b>POSTS</b></p>
            @if (@Model.posts.Count == 0)
            {
                <p>No posts</p>
            }
            else
            {
                @foreach (var post in @Model.posts)
                {
                    @await Html.PartialAsync("../ManipulateData/ListPosts", @Model.posts)
                }
            }
        </div>
    </div>
</div>
